<div class="row">
  <div class="col-md-4">
    <div class="list-group">
      <div class="list-group-item form-inline">
        {{input value=name type="text" class="form-control new-band" placeholder="New Band"}}
        <button {{action "createBand"}} disabled={{isAddButtonDisabled}} class="btn btn-primary">Add</button>
      </div>
      {{#each model as |band|}}
        {{#link-to "bands.band" band class="list-group-item band-link"}}
          {{band.name}}
          <span class="pointer glyphicon glyphicon-chevron-right"></span>
        {{/link-to}}
      {{/each}}
    </div>
  </div>
  <div class="col-md-8">
    {{outlet}}
  </div>
</div>
